.image-container-wrapper {
  /* height: 300px; */
  height: 260px;
  opacity: 0;
  overflow: hidden;
  transition: transform 1.25s cubic-bezier(var(--cubic-bezier)), opacity 1.25s cubic-bezier(var(--cubic-bezier));
  transform: scaleY(40%);
  transform-origin: bottom;
}
.image-container-wrapper.visible {
  transform: scaleY(100%);
  opacity: 1;
}

#image-container {
  margin-top: 2em;
  position: relative;
  max-width: none;
  height: 200px;
  z-index: 4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* clip-path: inset(0 calc(600px - var(--x)) 0 var(--x)); */
  cursor: none;
  transform-origin: 50% 50%;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Ensure the video stays in the background */
  object-fit: cover;
}

#image-container.dragging {
  /* Override the scaleX transformation by setting scaleX(1), but keep scaleY at 1.2 */
  transform: scale(1, 1.2);
  /* Transition only for clip-path, as handling transform with JS during the drag operation */
  transition: clip-path 1s cubic-bezier(var(--cubic-bezier));
}

/* Add normal transition effects for scale changes when not dragging */
#image-container:not(.dragging) {
  transition: transform 1s cubic-bezier(var(--cubic-bezier)), clip-path 1.25s cubic-bezier(var(--cubic-bezier));
}

.custom-cursor {
  width: 91px;
  height: 91px;
  position: absolute;
  pointer-events: none;
  background-image: url("../../assets/Untitled.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0, 0);
  opacity: 0;
  transition: transform 1s cubic-bezier(var(--cubic-bezier)), opacity 1s cubic-bezier(var(--cubic-bezier));
  will-change: transform, opacity;
  z-index: 9999;
}

.hide-cursor {
  display: none;
}

#image-container:hover .custom-cursor {
  transform: scale(1);
  opacity: 1;
}

#image-container:active .custom-cursor {
  transform: scaleX(1.2);
  opacity: 1;
}
@media all and (min-width: 375px) and (max-width: 900px) {
  #image-container {
    clip-path: none;
  }
  .image-container-wrapper {
    height: 213px;
  }
  #background-video {
    height: 200px;
  }
}



@media all and (min-width: 901px) and (max-width: 2500px) {
  #image-container {
    clip-path: inset(0 calc(30vh - var(--x)) 0 var(--x));
  }
  #background-video {
    height: 200px;
  }
/* 
  .image-container-wrapper {
    height: 213px;
  } */
}
