.Menu-arrow{

 /* position: relative;
    top: -15em;
    left: 11em; */
    width: 175px;
    height: 83px;
    border: 1px solid white;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer
}

.Menu-arrow img {
  transform: rotate(70deg);

  padding:20px;

}
html {
  background: #001c25; /* Adjust this color to match your page's background color */
}

body{
  background-color: white;
}
.fade-out{
  /* opacity:0; 
  transition: opacity 0.9s  */
  animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}