.PageLayout {
  box-shadow: 0 0 15px 5px #0000003b;
  font-family: "Lato", sans-serif;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 28, 37, 0.8), rgba(0, 28, 37, 0.8)), url("../../assets/bg.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap:wrap;
  height: calc(100vh + 20px)
  /* flex-direction: column; */

}

html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
}