.PageLayout {
  box-shadow: 0 0 15px 5px #0000003b;
  font-family: "Lato", sans-serif;
  font-family: "Syne", sans-serif;
  /* background-size: cover;
  background-image: linear-gradient(rgba(0, 28, 37, 0.8), rgba(0, 28, 37, 0.8)), url("../../assets/bg.png");
  background-repeat: no-repeat; */
  display: flex;
  height: calc(100vh + 20px);
  flex-direction: column;
  background-color: #e1dfdd;
}

html,
body {
  height: 100%;
  margin: 0;
}
