.Gear {
  background: white;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 50%; 
  right: 0; 
  transform: translateY(-50%);
  z-index: 100;
  mix-blend-mode: difference
}

.Gear-icon {
  width: 20px;
  /* padding:8px; */
  animation: rotate-gear 4s linear infinite;
}

@keyframes rotate-gear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
