
* {
  box-sizing: border-box;
}

.project-title {
  letter-spacing: -0.14063rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: TT Hoves, sans-serif;
  font-size: 2.813rem;
  font-weight: 400;
  line-height: 110%;
  padding: 1.12rem 3.12rem;
}

.description-content {
  align-self: flex-end;
  width: 100%;
  background-color: white;

  margin: 0;
  font-family: TT Hoves, sans-serif;

  text-align: justify;

  height: 250px;

  opacity: 0;
  transform: translateY(3px) translateX(-2px);

  transition: opacity 0.5s ease, transform 0.3s ease 0.11s;
}

.animated {
  opacity: 1;
  transform: translateY(0px) translateX(0px);
}

.Nav-wrapper-hidden {
  display: none;
}

/**/

.parallax-container,
.parallax-containerr {
  flex-direction: column;
  margin-top: 200px;
  width: 100%;
  display: flex;
  /* height: 230vh; */
  /* height: 300vh; */
  /* opacity: 0;
  transform: translateY(50px);

  transition: transform 1.8s cubic-bezier(0.62, 0.05, 0.01, 0.99), opacity 1.8s cubic-bezier(0.62, 0.05, 0.01, 0.99); */
}

.parallax-container.visible,
.parallax-containerr.visible {
  opacity: 1;
  transform: translateY(0%);
}

.fixed-content {
  width: 100%;
  /* position: relative;  */
  position: relative;
  /* margin-bottom: 20vh; */

  font-weight: 500;
}

.fixed-content .fixed-content-letter {
  margin-right: -4px;
  display: inline-block;
  /* border-bottom: 10px solid black; */
  position: relative;

  font-size: 6em;
  font-family: PP Neue Montreal, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  opacity: 0;
  transition: transform 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99), opacity 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99), height 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  transform: translateY(80%);
}

.fixed-content .fixed-content-letter.visible {
  transform: translateY(0%);
  opacity: 1;
}

.fixed-contentt .fixed-content-letter {
  margin-right: -4px;
  display: inline-block;
  /* border-bottom: 10px solid black; */
  position: relative;

  font-size: 6em;
  font-family: PP Neue Montreal, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  opacity: 0;
  transition: transform 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99), opacity 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99), height 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  transform: translateY(80%);
}

.fixed-contentt .fixed-content-letter.visible {
  transform: translateY(0%);
  opacity: 1;
}

.fixed-content .underline,
.fixed-contentt .underline {
  content: "";
  position: absolute;
  top: 8em;
  left: 0;
  right: 0;
  height: 10px;
  background-color: black;

  opacity: 0;
  transition: transform 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99), opacity 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  transform: scaleX(0);
  transform-origin: left;
}
.fixed-content .underline.visible {
  transform: scaleX(1);
  opacity: 1;
}

.fixed-contentt .underline.visible {
  transform: scaleX(1);
  opacity: 1;
}

.fixed-contentt {
  width: 100%;
  height: 50vh;
  font-weight: 500;
  position: relative;
}
.project-card-title {
  width: 60%;
  font-family: PP Neue Montreal, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.project-card-content {
  margin-top: 80px;
  /* text-align: justify; */
  margin-left: 4em;
  font-size: 1.2em;
  font-weight: 500;
  opacity: 0.8;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height:50vh
}

.project-card-content .line {
  display: block;
  opacity: 0;
  max-height: 10px;
  transform: translateY(20px);
  transition: transform 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99), opacity 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99), max-height 1.8s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

/* When 'visible' class gets toggled, it starts the animation */
.project-card-content.visible .line {
  opacity: 1;
  transform: translateY(0);
  max-height: 150px;
}

/* Apply staggered delays to each line based on index */
.project-card-content.visible .line:nth-child(1) {
  /* transition-delay: 0.07s; */
  transition-delay: 1.77s;
}
.project-card-content.visible .line:nth-child(2) {
  /* transition-delay: 0.14s; */
  transition-delay: 1.84s;
}
.project-card-content.visible .line:nth-child(3) {
  /* transition-delay: 0.14s; */
  transition-delay: 1.84s;
}


.scroll-content {
  width: 50%;
  margin-left: 30px;

  /* z-index:100; */
}
/* .parallax-container .scroll-content,
.parallax-containerr .scroll-content {
  opacity: 0 ;
  transition: opacity 1.1s cubic-bezier(0.62, 0.05, 0.01, 0.99) 4s
}


.parallax-container .scroll-content.visible,
.parallax-containerr .scroll-content.visible {
  opacity: 1 
} */
.top-right,
.bottom-right {
  height: 100vh;
  /* overflow: hidden; */
}

.top-right {
  margin-bottom: 30px;
}

.bottom-right {
  /* background: black; */
}

.top-right img,
.bottom-right img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.top-right img {
  margin-bottom: 30px;
}

.bottom-right .img,
.top-right .img {
  transition: transform 1.5s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

.bottom-right .img:hover,
.bottom-right .img.scaled,
.top-right .img:hover,
.top-right .img.scaled {
  transform: scale(1.2);
}

@media all and (min-width: 375px) and (max-width: 450px) {
  .parallax-container,
  .parallax-containerr {
height:100vh;
  }

  .fixed-content .fixed-content-letter,
  .fixed-contentt .fixed-content-letter {
    font-size: 4em;
  }
  .fixed-content .underline,
  .fixed-contentt .underline {
    top: unset;
  }

  .scroll-content .top-right img,
  .scroll-content {

    margin-left: 0;
  }
 

  .top-right,
  .bottom-right {
    height: 55vh;
  }
  .parallax-container .fixed-content {
    
    /* margin-bottom: 0; */

  }
  .parallax-container .scroll-content, .parallax-containerr .scroll-content{
    width:100%;
    margin-top:10vh;
    /* opacity: 0; */
  }
}
