.Heading-title {
  color: white;
  font-size: 9em;
  width: 100%;
  position: relative;
  line-height: 1;
  margin-bottom:0
}

@media all and (min-width: 375px) and (max-width: 500px) {
   .Heading-title {
    padding:10px 0;
  }
}
@media all and (max-width: 2500px) {
  .Heading-title {
    font-size: 14em; /* Adjusted to a smaller size */
  }
}


@media all and (max-width: 1600px) {
  .Heading-title {
    font-size: 7em; /* Adjusted to a smaller size */
  }
}

/* Further decrease the font size for screens smaller than 768px */
@media all and (max-width: 768px) {
  .Heading-title {
    font-size: 5em; /* Adjusted to a smaller size */
  }
}

/* Even further decrease the font size for screens smaller than 480px */
@media all and (max-width: 480px) {
  .Heading-title {
    font-size: 3em; /* Adjusted to a smaller size suitable for mobile devices */
  }
}

.Heading-text {
  color: white;
  font-size: 15px;
  word-wrap: break-word; /* This is the standard property */
  overflow-wrap: break-word;
  width: 40%;
  margin-left: 20px;
  z-index: 2;
  font-weight: lighter;
  letter-spacing: 0.2em;
}

.Heading {
  /* margin-top: 100px; */
  /* padding-top: 138px; */
  margin-left: 6em;
  word-wrap: break-word; /* This is the standard property */
  overflow-wrap: break-word;
  width: 100%;
  /* position: relative;
  top: -12em; */
  display: flex;

  position: relative;
  display: flex;
  justify-content: center; /* Centrally aligns items horizontally */
  align-items: center;
}

.Heading-pro {
  color: white;
  font-size: 0.2em;
  padding: 8px;
  border: 1px solid white;
  border-radius: 8px;

  font-weight: 300;

  margin-left: 10px;

  vertical-align: middle;


  /* background-color: white;
  color: #001c25; */

}

.Heading-accuracy-pro {
  /* This keeps 'accuracy' and 'PRO' together on one line */
  white-space: nowrap;
}

.agency-container {
  display: flex;
  align-items: center; /* Center children vertically */
}
