.Contact {
  background-color: #f7f7f7;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Contact-bg{
    background-color: #f7f7f7;
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:0;
    right:0
  }
.Contact-content {
  background-color: #001c25;
  color: white;
  width: 60%;
  /* position: absolute;
  bottom: 0; */
  height: 400px;
  padding-top: 4.12rem;
  
}

.Contact-email{
    margin-top: 0;
    margin-bottom: 0;
    font-family: TT Hoves, sans-serif;
    font-size: 1.313rem;
    font-weight: 400;
    line-height: 110%;
    padding: 1.12rem 3.12rem;
    text-align: justify;
    width: 30%;
    color: white;
    background-color: 
    #0d232a;
  }
  .Contact-link {
display:flex;
justify-content: center;
align-items: center;
cursor:pointer;
padding: 8px;
border: 1px solid white;
border-radius: 8px;
text-decoration: none;
color:white

      }
  .Contact-link p{
text-align: center;

  }  .Contact-link img{
 width:28px;
 height:28px;
 transform:rotate(-90deg);
 margin-left:10px
      }
.Contact-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 90%;

}

.Contact-content p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: TT Hoves, sans-serif;
  font-size: 1.313rem;
  font-weight: 400;
  line-height: 110%;
  padding: 1.12rem 3.12rem;
  text-align: justify;
  
 

  margin-bottom: 0;

  /* margin-top: 50px; */
  font-family: TT Hoves, sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
}

.Contact-email h2 {
    letter-spacing: -0.14063rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: TT Hoves, sans-serif;
    font-size: 2.813rem;
    font-weight: 400;
    line-height: 110%;
    padding: 4.12rem 0rem;
    text-align: center;



   
    line-height: 1;
}
