/* 
.Plan-services {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 38%;
  margin: 3px;
  padding: 50px;
  cursor: pointer;
  flex-direction: column;
  height: 190px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: white; 


}


.Plan-services:hover .Plan-text {
 color:white 
}
.Plan-services:hover .Plan-wavy span{
  color:white 
 }
.Plan-services-active {

  overflow-y: scroll;
  width: 38%;
  height: 160px;
  height: 190px; 
  
  display: flex;
  justify-content: space-between;
 
  background-color: white;
  margin: 3px;
  padding: 50px;
  cursor: pointer;
  flex-direction: column;
  overflow-x: hidden;
text-align: justify;
}

.Plan-number{
  letter-spacing: -0.14063rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: TT Hoves, sans-serif;
  font-size: 8.813rem;
  font-weight: 400;
  line-height: 110%;
  opacity: 0.2;
  padding-right: 5px
}
.Plan-services-active::-webkit-scrollbar {
  width: 6px;
}
.Plan-services-active::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.Plan-services-active::-webkit-scrollbar-thumb {

  background: #e2e2e2; 
  border-radius: 6px;
}

.Plan-services-active::-webkit-scrollbar-thumb :hover {
  background: #555;
}

.Plan-text {
  margin-bottom: 0;
  margin-top: 40px;

  font-family: TT Hoves, sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
}

.Plan-text-active {
  margin-bottom: 0;
  margin-top: 40px;
 
  font-family: TT Hoves, sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  
}
.Plan-arrow {
  margin-top: 20px;
  align-self: flex-end;
}
.Plan-arrow img {
  width: 40px;
}
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradientcolorzero: #6ec3f4;
  --gradientcolorone: #3a3aff;
  --gradientcolortwo: #ff61ab;
  --gradientcolorthree: #e63946;
}

.fade-in {
  opacity: 0;
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.Plan h1 {
  color: white;

  font-size: 6em;
  width: 100%;
  font-family: "Lato" sans-serif;
  line-height: 1;
}

.Plan {
  justify-content: center;
  display: flex;

  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  align-content: center;
  background-color: #f7f7f7;
}
.Plan-contact {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  background-image: url("../../assets/ellipse.png"), url("../../assets/ellipse_small.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right 116px bottom -77px, right 44px bottom 81px;

  
  animation-name: floatBackgroundLarge, floatBackgroundSmall;
  animation-duration: 12s, 10s;
  animation-timing-function: linear, linear;
  animation-iteration-count: infinite, infinite;
}

@keyframes floatBackgroundLarge {
  0%,
  100% {
    background-position: right 116px bottom -77px; 
  }
  50% {
    background-position: right 150px bottom -107px; 
  }
}

@keyframes floatBackgroundSmall {
  0%,
  100% {
    background-position: right 116px bottom -77px, right 44px bottom 81px; 
  }
  50% {
    background-position: right 116px bottom -77px, right 14px bottom 20px; 
  }
}

.Plan-contact-info {
  position: relative; 
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;

  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
}
.Plan-contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Plan-contact div span {
  padding: 40px;
  display: flex;
  align-items: center;
  background-color: blue;
  color: white;
  font-weight: bold;
}
.Plan-contact h2 {
  color: white;
  font-size: 1.8em;
  width: 100%;
  font-family: "Lato" sans-serif;
  line-height: 1;
}

.Plan-contact p {
  color: white;

}

.Plan-wavy:hover span {
  position: relative;

  animation: animate 1s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

.Plan-wavy span {
  position: relative;
}

.Plan-wavy {
  display: flex;
  color: white;
  color: black;
  font-size: 2.813rem;
  letter-spacing: -0.14063rem;

  width: 100%;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif; 
  line-height: 1;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-reflect: below -7px linear-gradient(transparent, rgba(0, 0, 0, 0.11));

  
  width: 100%;


}
@keyframes animate {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
} */
.service-card-wrapper{
  /* margin-top:4.5em; */

}

.service-card-title{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:65%;
  width:90%
}
.service-card{
  display:flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left:10em;
  margin-right:10em; */

  width:80%;
  padding:2em 0em;

  border-bottom:2px solid grey;
  font-family: PP Neue Montreal, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.service-card h2{
  font-weight: 500;
  font-size:1.2em;
  opacity:0.8
}

.service-card p{
  /* font-weight: 500; */
  font-size:1.2em;
  font-weight: 500;
  opacity:0.8;
  text-align: start;
  text-align: justify;
  width:60%;
  width:90%
}

.service-card span{
  font-weight: 500;
  /* font-weight: bold; */
  font-size:2.4em
}

.toggle-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-weight: 500;
}

.bar {
  background-color: black; /* Change color as needed */
  position: absolute;
  transition: transform 0.3s ease;
}

.horizontal {
  height: 2px;
  width: 20px;

}

.vertical {
  width: 2.5px;
  height: 20px;
}

.vertical.open {
  transform: rotate(-90deg);
}

.service-card-content {
 
max-height: 25px;
  overflow: hidden;
  transition: max-height .8s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

.service-card-content.open {
  max-height: 180px; 

}

