.Contact-footer{

    background-color: #e1dfdd;
    /* width:100%; */
 
    display:flex;
    margin-left: 7.5em;
  
    justify-content: space-between;
    align-items: flex-start;
    padding: 5.12rem 0rem;
    width: calc(100% - 6.24rem);
}
.contact-section{
  background-color: #e1dfdd;
  /* height:100vh; */
}
.Contact-footer h1{
  /* padding:3.12rem; */
  letter-spacing: -0.14063rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: TT Hoves, sans-serif;
  font-size: 2.813rem;
  font-weight: 400;
  line-height: 110%;
  /* padding: 1.12rem 3.12rem; */
}
.Contact-footer div{
  
    letter-spacing: -0.14063rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: TT Hoves, sans-serif;
    font-size: 2.813rem;
    font-weight: 400;
    line-height: 110%;
    width: 49.79%;
    grid-row-gap: 1.25rem;
    flex-direction: column;
    display: flex;


    font-family: PP Neue Montreal,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-transform: uppercase;
    /* letter-spacing: .2em; */
 font-weight:500;
    font-size: 1.5em;

  }
  .Contact-footer div p{
  /* padding-right : 3.12rem; */
   margin:0;
    /* padding: 1.12rem 3.12rem; */
    color: var(--black);
    border-style: none;
    border-color: #000;
    font-size: 2.8125rem;

  }

  .Contact-email h2 {
    letter-spacing: -0.14063rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: TT Hoves, sans-serif;
    font-size: 2.813rem;
    font-weight: 400;
    line-height: 110%;
    padding: 4.12rem 0rem;
    text-align: center;



   
    line-height: 1;
}


.Contact-footer-link img {
    width:38px;
    height:38px;
    transform:rotate(-90deg);
    margin-left:10px;
    align-self: last baseline;
}

.Contact-footer-link{
    display:flex;
    text-decoration: none;
    color:black;
align-items: center;
cursor:pointer;
}
.contact-heading{
  display:flex;
  align-items: center;
}
.contact-heading p{
  
  text-align: justify;
  margin-left: 4em;
  font-size: 1.2em;
  font-weight: 500;
  opacity: 0.8;
  width: 100%;
}

.contact-wrapper{
  display:flex;
  margin-left: 7.5em;
  background-color: #e1dfdd;
  margin-bottom: 4em;
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom:2px solid grey; */
  width:80%;
  font-family: PP Neue Montreal, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.contact-wrapper h2{
  font-weight: 500;
  font-size:1.4em
}

.contact-wrapper p{
  
  font-size: 1.2em;
  font-weight: 500;
  opacity: 0.8;
 
}

/* .logo-wrapper{
margin-left:3.5em;
width:250px;
height: 75px;
position: sticky;
top: 0;
left: 0;
right: 0;

}

.logo-wrapper img{
  width:100%;
  height: 100%;
  object-fit: cover;

 
} */

.contact-about{
  display:flex;
  width:50%; justify-content: space-between;
  margin-left:7.5em;

font-family: PP Neue Montreal,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.contact-about p{
  margin-top:0;
text-align: justify;
/* margin-left:4em; */
font-size: 1.2em;
font-weight: 500;
opacity: 0.8;

}

.contact-about h3{
  margin-right:4em;
  margin-top:0;
  font-size: 1em;
  
}