.footer-wrapper {
  display: flex;
  background-color: black;
  width: 100vw;
  /* bottom: 1em; */
  bottom: 0;
  left: 0;
  transition: height 0.3s ease;
  overflow: hidden;
  position:absolute
}

.footer p {
  font-weight: bold;
  color: #02181f;
  opacity: 0.7;
  width: 20vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  color: white;
}

.footer {
  display: flex;
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 8s;
  animation-duration: 30s;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@media all and (min-width: 375px) and (max-width: 450px) {
  .footer p {
    width: 50vw;
  }
}


@media all and (min-width: 375px) and (max-width: 900px) {
  .footer p {
    width: 50vw;
  }

  .footer{
    height:40px;
  }
}



/* @media all and (min-width: 901px) and (max-width: 2500px) {
  #image-container {
    clip-path: inset(0 calc(30vh - var(--x)) 0 var(--x));
  }
  #background-video {
    height: 200px;
  } */