.SideNav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-right:60px;
  padding-left:10px;
}

.SideNav-menu img {
  width: 40px;
}

.SideNav-menu {
  cursor: pointer;

  flex-grow: 1; /* Allows the menu div to take up the remaining space */
  display: flex; /* Establishes a nested flex container */
  justify-content: center; /* Horizontally centers content */
  align-items: center; /* Vertically centers content */
}

.SideNav-logo img {
  width: 70px;
  align-self: flex-start;
  margin-top: 50px;
}


html {
  background: #001c25; /* Adjust this color to match your page's background color */
}
.fade-out{
  /* opacity:0; 
  transition: opacity 0.9s  */
  animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}