.nav-bar-wrapper {
  display: flex;
  align-items: center;
  padding: 40px 0px;
  margin: 0 2.5em 0 3.5em;
  justify-content: space-between;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out 0.8s;
  background: var(--primary-color);
  overflow: hidden;
  opacity: 0;
}


.nav-bar-wrapper.visible {
  transform: translateY(0);
  opacity:1
}

.nav-bar-wrapper.visible.nav-bar-wrapper---sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: black;
  mix-blend-mode: difference;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-tap-highlight-color: transparent;
 
}
@media all and (min-width: 375px) and (max-width: 450px) {
  .nav-bar-wrapper {
    margin: 0 0.5em 0 1.5em;
    padding-bottom: 0;
  }
}
@media all and (min-width: 451px) and (max-width: 900px) {
  .nav-bar-wrapper {
    margin: 0 0.5em 0 1.5em;
    
  }
}
