.Slider {
  z-index: 99;
  background-color: #f7f7f7;
  overflow: hidden;
  display: flex;
  /*test*/
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#next,
#prev {
  position: absolute;
  top: 40%;

  left: 50px;
  color: black;
  cursor: pointer;
  top: 35%; 
  transform: translateY(-35%); 
  opacity:0.7;
  transition: opacity 0.3s ease;
}

#next {
  left: unset;
  right: 50px;
}
#prev img {
  transform: rotate(90deg);
  width: 40px;
}

#next img {
  transform: rotate(-90deg);
  width: 40px;
}

#prev {
  left: 12vw; /* Keeps a distance from the left edge based on viewport width */
}

#next {
  right: 12vw; /* Keeps a distance from the right edge based on viewport width */
}

#prev img {
  transform: translateX(-35%) rotate(90deg);
  width: 40px;
}

#next img {
  transform: translateX(35%) rotate(-90deg);
  width: 40px;
}

#next:hover,
#prev:hover {
  opacity: 1; 
}
/*new version*/
.projects-section{
  /* height:100vh; */
  /* padding: 85px 50px; */
  background:  #e1dfdd; 
  overflow: hidden;
}

.services-wrapper {
  margin-left:7.5em;
  margin-bottom:4em;
  display:flex;
  /* border-bottom:2px solid grey; */
  width:80%;
  font-family: PP Neue Montreal, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.title-wrapper{
  margin-left:7.5em
}
.service-card-wrapper{
  margin:0 10em;
  width:100%
}


.project-cards-heading{
  display:flex;
  width:40%; justify-content: space-between;
  margin-left:7.5em;

font-family: PP Neue Montreal,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.project-cards-heading p{
  margin-top:0;
text-align: justify;
margin-left:4em;
font-size: 1.2em;
font-weight: 500;
opacity: 0.8;

}

.project-cards-heading h3{
  margin-top:0;
  font-size: 1em;
  
}