.projects-section {
  background: var(--primary-color);
  padding: 7.5em 7.5em 0 7.5em;
}

.projects-wrapper {
  margin-bottom: 4em;
  display: flex;
  width: 80%;
  font-family: var(--font-family-titles);
}

.title-wrapper {
  margin-left: 7.5em;
}

.project-number {
  font-weight: 500;
  font-size: 1.4em;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(var(--cubic-bezier));
  overflow: hidden;
}
.project-number.visible {
  opacity: 1;
}

.projects-title {
  font-family: var(--font-family-titles);
  display: inline-block;
  font-size: 6em;
  line-height: 0.834;
  opacity: 0;
  transition: transform 1.1s cubic-bezier(var(--cubic-bezier)), opacity 1.1s cubic-bezier(var(--cubic-bezier)), height 1.1s cubic-bezier(var(--cubic-bezier));
  transform: translateY(80%);
}
.projects-title.visible {
  transform: translateY(0%);
  opacity: 1;
}
.projects-about {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-family: var(--font-family);
}

.projects-about-content {
  margin-top: 0;
  margin-left: 4em;
  font-size: 1.2em;
  font-weight: 500;
  opacity: 0.8;
  display: inline-block;
  overflow: hidden;
}

.projects-about-content .line {
  display: block;
  opacity: 0;
  max-height: 0px;
  transform: translateY(20px);
  transition: transform 1.1s cubic-bezier(var(--cubic-bezier)), opacity 1.1s cubic-bezier(var(--cubic-bezier)), max-height 0.5s cubic-bezier(var(--cubic-bezier));
}

.projects-about-content.visible .line {
  opacity: 1;
  transform: translateY(0);
  max-height: 50px;
}

/* staggered delays to each line based on index */
.projects-about-content.visible .line:nth-child(1) {
  transition-delay: 0.07s;
}
.projects-about-content.visible .line:nth-child(2) {
  transition-delay: 0.14s;
}
.projects-about-content.visible .line:nth-child(3) {
  transition-delay: 0.14s;
}

.project-about-title {
  margin-top: 0;
  font-size: 1em;
  opacity: 0;
  transition: opacity 1.1s cubic-bezier(var(--cubic-bezier)), height 1.1s cubic-bezier(var(--cubic-bezier));
}

.project-about-title.visible {
  opacity: 1;
}

@media all and (min-width: 375px) and (max-width: 450px) {
  .title-wrapper {
    margin-left: 0;
  }
  .projects-section {
    padding: 7.5em 1.5em;
 
  }
  .projects-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .projects-title {
    font-size: 4em;
  }
  .projects-about {
    width: 100%;
  }
  .projects-about-content {
    margin-left: 1em;
  }
}
