.Langue {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  margin-right: 40px;
  align-items: center;
}
.Langue img {
  width: 20px;
}

.Langue-text {
  font-size: 1em;
  color: #001c25;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
