.Nav-wrapper {
  display: flex;
  list-style: none;


}

.Nav-wrapper li {
  padding-right: 2.25rem;
  margin:10px 0;
  height: 1.5rem;
  color: white;
  letter-spacing: -0.03rem;
  /* font-size: 1.125rem; */
  font-weight: lighter;
  cursor: pointer;
  
}
